/*
Source File Name: app.css
Author: Antanik Mitra (200292856) 
Date: 21/04/2016
Description: Dice Roller Final Exam
 */
 
 
 #diceOne{
    
     border: 2px solid black;
     height: 300px;
     
 }
 
 #diceTwo{
     
     border: 2px solid black;
     height: 300px;
     
 }
 
 #roll{
     
     margin-top: 20px;
     
 }
 
 #ranOne,#ranTwo{
     
     font-size: 30px;
     font-weight: bold;
     
 }